@import url(default.css);

h1 {
	margin-top: 30px;
	font-size: 26px;
}

h2 {
	margin-top: 25px;
	font-size: 24px;
}

.clean {
	height: 200px;
}

img.site-icon {
	margin-top: 0px;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	transition-duration: .25s;
}

#home-post {
	height: 62px;
	padding-left: 20px;
	padding-top: 20px;
	position: absolute;
	z-index: 1;
}

#post-list h1 {
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
}

#post-info {
	width: 90%;
	left: 5%;
	margin-left: 0px;
	bottom: 100px;
}

#post-info h1 {
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
}

#home-title {
	width: 100%;
	margin-left: -50%;
	margin-top: 50px;
}

#article {
	width: 90%;
	padding: 50px 5%;
	left: 0px;
	margin-left: 0px;
}

#article p {
	word-wrap: break-word;
}

#bg-video {
	display: none;
}

#bg-video-pattern {
	display: none;
}

#post-list {
	width: 90%;
	padding: 50px 5%;
	left: 0px;
	margin-left: 0px;
}

.post-description {
	font-size: 18px;
}
